<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/assets/css/screen.css">

  {{ghost_head}}

</head>
<body class={{body_class}}>

  <div class="site-wrapper">
    <div class="site-main">

      <header>

        <img src="assets/images/discursive-logo.jpg" class="header__logo" alt="Logo of Discursive Impulse">

        <button class="header__menu-icon">
          <img src="assets/images/menu-icon.png" alt="Menu icon">
        </button>

        <nav>
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Reviews</a>
          <a href="#">Projects</a>
          <a href="#">Essays</a>
        </nav>

      </header>


      {{{body}}}{{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}


      <footer>{{!-- The footer at the very bottom of the screen --}}
        {{!-- image links to PNCA, crit studies, CCAC   --}}
      </footer>

    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="assets/js/scripts.js" charset="utf-8"></script>
  {{ghost_foot}}

</body>
</html>
