<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="assets/css/screen.css">

  {{ghost_head}}

</head>
<body class={{body_class}}>

  <div class="site-wrapper">
    <div class="site-main">

      <header>
        <h1 class="page__title">{{@blog.title}}</h1>
      </header>

      {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
      {{{body}}}

      {{!-- The footer at the very bottom of the screen --}}
      <footer>
        {{!-- image links to PNCA, crit studies, CCAC   --}}
      </footer>

    </div>
  </div>

  {{ghost_foot}}

</body>
</html>
