{{!< default}}

  {{!-- center the 'feed' --}}
  <div class="outer">
    <div class="inner">
      <main class="post__container">

        {{#foreach posts}}

        <article class="{{post_class}} post">

          <section class="post__header">
            <h2><a href="{{url}}">{{title}}</a></h2>
          </section>

          <section class="post__img" style="background-image:url({{img_url feature_image}});" title="Image associated with the post entitled {{title}}">
          </section>

          <div class="post__content">
            <section class="post__author">
              <h4>{{author}}</h4>
            </section>

            <section class="post__tag">
              <h4>{{primary_tag.name}}</h4>
            </section>
          </div>

        </article>

        {{/foreach}}

      </main>

    </div>
  </div>
