<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/assets/css/screen.css">

  {{ghost_head}}

</head>
<body class={{body_class}}>

  <div class="site-wrapper">
    <div class="site-main">

      <header>
        <a href="{{@blog.url}}">
          <img src="assets/images/discursive-logo.jpg" class="header__logo" alt="Logo of Discursive Impulse">
        </a>

        <button class="header__menu-icon">
          <img src="assets/images/menu-icon.png" alt="Menu icon">
        </button>

        <section class="nav__wrapper">
          {{navigation}}
        </section>

      </header>


      {{!-- center the 'feed' --}}
      <div class="outer">
        <div class="inner">

            {{#foreach posts}}

            <article class="{{post_class}} post">

              <section class="post__header">
                <h2><a href="{{url}}">{{title}}</a></h2>
              </section>

              {{#if feature_image}}
              <section class="post__img" style="background-image:url({{img_url feature_image}});" title="Image associated with the post entitled {{title}}">
              </section>
              {{else}}
              <img src="assets/images/placeholder-img.png" alt="There is no featured image for this post">
              {{/if}}

              <div class="post__content">
                <section class="post__author">
                  <h4>{{author}}</h4>
                </section>

                <section class="post__tag">
                  <h4>{{primary_tag.name}}</h4>
                </section>
              </div>

            </article>

            {{/foreach}}

        </div>
      </div>

      <footer>{{!-- The footer at the very bottom of the screen --}}

        <a href="http://ccac.pnca.edu/">
          <img src="assets/images/ccac.png" alt="">
        </a>

        <a href="http://pnca.edu/graduate/c/cs">
          <img src="assets/images/pilcrow.png" alt="">
        </a>

        <a href="http://pnca.edu/">
          <img src="assets/images/pnca-logo.png" alt="">
        </a>

        <p>
          511 NW Broadway <br>
          Portland, OR 97209
        </p>
        <a href="tel:503-226-4391">503.226.4391</a>

      </footer>


    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="assets/js/scripts.js" charset="utf-8"></script>
  {{ghost_foot}}

</body>
</html>
